@font-face {
  font-family: "asap";
  src: url("../fonts/Asap.ttf");
}
@font-face {
  font-family: "indie";
  src: url("../fonts/IndieFlower.ttf");
}

*{
	margin:0;
	padding:0;
}
body{
	width:100%;
}
header{
	height: 100vh;
	position: relative;
	background-image: url('/img/banner.png');
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#arrow_down{
	position: absolute;
	width:2em;
	height: 2em;
	bottom:5vh;
	right: 5vh;
	background-color: #dedede;
	border-radius: 100%;
	box-shadow: 1px 1px 7px black;
	padding:.5em;
	z-index: 5;
}
#arrow_down img{width:100%;height:100%;}
.placemarks{
	width: 40px;
	height: 40px;
	position: absolute;
	display: none;
}
#pm1{
	right:20vw;
	top:60vh;
}
#pm2{
	left: 26vw;
	bottom:10vh;
}
#pm3{
	left: 10vw;
	top:25vh;
}
#logo{
	position: absolute;
	width: 100%;
	height: 90vh;
	left:0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	padding-top: 5vh;
}
#logo svg{
	transform: scale(2);
}
#mobile{
	position: fixed;
	width: 100%;
	height: 100vh;
	left:0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	z-index: 1;
}
#mobile img{
	height:80%;
}
/* SECCIÓN 1 */
section#s1{
	height: 100vh;
	background-image: url('/img/donosti-banner.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-right: 5vw;
	flex-direction: column;
}
section#s1 h1{
	font-family: asap;
	font-size: 6em;
	width: 50vw;
	color: white;
	text-align: right;
	text-shadow: 1px 1px 7px black;
	display: none;
	z-index: 5;
}
section#s1 #contacto-link{
	background-color: #363636;
	color: #dedede;
	border-radius: 360px;
	box-shadow: 1px 1px 7px black;
	text-decoration: none;
	font-family: asap;
	font-weight: bold;
	font-size: 1.2em;
	padding:.5em 1em;
	margin-top:1em;
	cursor: pointer;
	z-index: 5;
	display: none;
}
section#s1 #contacto-link:hover{
	background-color: #151515;
	color:white;
}

/* SECCIÓN CONTACTO */
section#contacto{
	background-color: #151515;
	position: relative;
	z-index: 2;
	padding: 5vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
section#contacto h2{
	color: #dedede;
	padding: 1.5em 0;
}
section#contacto form{
	display: flex;
	flex-direction: row;
	align-items: center;
}
section#contacto #inputs{
	display: flex;
	flex-direction: column;
}
section#contacto #inputs > *{
	margin: 1em 0;
}
section#contacto #inputs > input,textarea{
	border-radius: 2px;
	background-color: white;
	border: 0;
	padding:.5em 1em;
	resize: none;
	font-family: asap;
}
section#contacto > form > button{
	margin:0 auto;
	background-color: #9effda;
	width: 5em;
	height: 5em;
	border-radius: 100%;
	border:none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5em;
	cursor: pointer;
}
section#contacto > form > button:hover{
	background-color: #8adebe;
}
.error{
	color:tomato;
	font-family: asap;
	margin-top: 0!important;
	margin-bottom: .5em!important;
}

@media(max-width: 600px){
	header{
		background-size:auto 100%;
	}
	#logo{
		width:100vw;
	}
	#logo svg{
		transform: scale(.8);
	}

	section#s1 h1{
		font-size:2em;
		text-align: center;
		width:100%;
		z-index:5;
	}
	section#s1 #contacto-link{
		text-align: center;
		font-size: 1em!important;
		margin:1em auto;
	}

	section#contacto h2{
		text-align: center;
	}
	section#contacto form{
		flex-direction: column;
	}
}