@font-face {
  font-family: "asap";
  src: url("../fonts/Asap.ttf");
}
@font-face {
  font-family: "indie";
  src: url("../fonts/IndieFlower.ttf");
}

*{
	margin:0;
	padding:0;
}
body{
	width:100%;
}

nav{
	position: fixed;
	top:0;
	right:0;
	z-index:20;
}
#menuToggle{
	display: none;
}
nav ul{
	display: flex;
	flex-direction: row;
}
nav li{
	list-style-type: none;
}
nav li a{
	text-decoration: none;
	color:#151515;
	font-size:1.5em;
	font-family: asap;
	background-color: rgba(255,255,255,.7);
	padding:1em 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom-left-radius: 10px;
}
nav li a:hover{
	background-color: rgba(255,255,255,.9);
	color: black;
}

/* HEADER */
header{
	height: 100vh;
	background-image: url('/img/banner.png');
	background-attachment: fixed;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
#arrow_down{
	position: fixed;
	width:2em;
	height: 2em;
	bottom:5vh;
	right: 5vh;
	background-color: #dedede;
	border-radius: 100%;
	box-shadow: 1px 1px 7px black;
	padding:.5em;
	z-index: 30;
	transition: transform .8s ease;
}

#arrow_down img{width:100%;height:100%;}
.placemarks{
	width: 40px;
	height: 40px;
	position: absolute;
	display: none;
}
#pm0{
	position: fixed;
	width:80px;
	height: 80px;
	right: calc(50vw - 20px);
	top:calc(50vh - 40px);
}
#pm1{
	right:20vw;
	top:60vh;
}
#pm2{
	left: 26vw;
	bottom:10vh;
}
#pm3{
	left: 10vw;
	top:25vh;
}

/* LOGOTIPO DEL HEADER */
#logo{
	position: absolute;
	width: 100%;
	height: 90vh;
	left:0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	margin-top: -10vh;
}
#logo svg{
	transition: transform .8s ease;
	z-index: 15;
	cursor: pointer;
}
#logo svg.scaledsvg{
	transform: scale(2);
}
#logo svg.notscaledsvg{
	transform: scale(1);
}
#mobile{
	position: fixed;
	width: 100%;
	height: 100vh;
	left:0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	z-index: 1;
}
#mobile img{
	height:80%;
}
/* SECCIÓN 1 */
section#s1{
	height: 100vh;
	background-image: url('/img/donosti-banner.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-right: 5vw;
	flex-direction: column;
}
section#s1 h1{
	font-family: asap;
	font-size: 6em;
	width: 50vw;
	color: white;
	text-align: right;
	text-shadow: 1px 1px 7px black;
	display: none;
	z-index: 5;
}
section#s1 #contacto-link{
	background-color: #363636;
	color: #dedede;
	border-radius: 360px;
	box-shadow: 1px 1px 7px black;
	text-decoration: none;
	font-family: asap;
	font-weight: bold;
	font-size: 1.2em;
	padding:.5em 1em;
	margin-top:1em;
	cursor: pointer;
	z-index: 5;
	display: none;
}
section#s1 #contacto-link:hover{
	background-color: #151515;
	color:white;
}
/* SECCIÓN 2 */
section#s2{
	min-height: 100vh;
	display: grid;
	grid-template-columns: 40% 40%;
	grid-column-gap: 20%;
}
section#s2 > div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
section#s2 > div h2{
	font-family: asap;
	font-size:2em;
	margin-bottom: 1em;
	color:#7d7d7d;
	text-align: center;
}
section#s2 img{
	width: 50%;
}

/* SECCIÓN CONTACTO */
section#contacto{
	background-color: #383838;
	position: relative;
	z-index: 2;
	padding: 5vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
section#contacto h2{
	color: #dedede;
	padding: 1.5em 0;
}
section#contacto form{
	display: flex;
	flex-direction: row;
	align-items: center;
}
section#contacto #inputs{
	display: flex;
	flex-direction: column;
}
section#contacto #inputs > *{
	margin: 1em 0;
}
section#contacto #inputs > input,textarea{
	border-radius: 2px;
	background-color: white;
	border: 0;
	padding:.5em 1em;
	resize: none;
	font-family: asap;
}
section#contacto > form > button{
	margin:0 auto;
	background-color: #9effda;
	width: 5em;
	height: 5em;
	border-radius: 100%;
	border:none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5em;
	cursor: pointer;
}
section#contacto > form > button:hover{
	background-color: #8adebe;
}
.error{
	color:tomato;
	font-family: asap;
	margin-top: 0!important;
	margin-bottom: .5em!important;
}

/* FOOTER */
footer{
	position: relative;
	background-color: #4a4a4a;
	z-index: 5;
	color: #dedede;
	font-family: asap;
	text-align: center;
	padding: 2em 0;
}
footer > div{
	margin-top: 1.5em;
}
footer img{
	width: 2.5em;
	height: 2.5em;
	margin: 0 .5em;
	cursor: pointer;
}
footer img:hover{
	transform: scale(1.05);
}

@media(max-width: 1000px){
	section#s2{
		grid-template-columns: 50% 50%;
		grid-column-gap: 0;
		z-index: 20;
		background-color: white;
		position: relative;
	}
}

@media(max-width: 600px){
	#logo{
		width:100vw;
	}
	#logo svg.scaledsvg{
		transform: scale(.9);
	}
	#logo svg.notscaledsvg{
		transform: scale(.7);
	}

	#menuToggle{
		display: block;
		position: fixed;
		right:3vw;
		top: 5vh;
		z-index: 110;
		cursor: pointer;
	}
	nav ul{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(255,255,255,.9);
		z-index: 100;
		flex-direction: column;
		padding-top: 15vh;
	}
	nav li{
		border:.5px solid #dedede;
	}

	section#s1 h1{
		font-size:2em;
		text-align: center;
		width:100%;
		z-index:5;
	}
	section#s1 #contacto-link{
		text-align: center;
		font-size: 1em!important;
		margin:1em auto;
	}
	section#s2{
		grid-template-columns: 100%;
		padding: 10vh 0;
		grid-row-gap: 10vh;
	}
	section#contacto h2{
		text-align: center;
	}
	section#contacto form{
		flex-direction: column;
	}
}