#mapid{
	z-index: 20!important;
	position: absolute;
	width:100vw;
	height: 100vh;
}
.exit-btn{
	position: fixed;
	z-index: 200;
	bottom: 20px;
	right: 20px;
	background-color: #e94936;
	color:white;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 20px; 
	border-radius: 5px;
	box-shadow: 1px 1px 7px #757575;
}
.exit-btn:hover , #stage button:hover{
	cursor: pointer;
	box-shadow: 1px 1px 20px #757575;
}
#stage{
	display: none;
	margin: 0 auto;
	height: 95vh;
	width: 100vw;
	background-color: white;
	position: fixed;
	bottom:0;
	z-index: 50!important;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 50px 50px 0 0;
	color:#7d7d7d !important;
	box-shadow: 1px 1px 50px gray;
}
.line{
	position: absolute;
	top: 10px;
	width:40px;
	height: 5px;
	margin: 0 auto;
	background-color: #cccccc;
	border-radius: 1000px;
}
.stage-question{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}
.stage-question h1{
	padding: 0 50px;
	text-align: center;
	font-size: 36px;
}
.stage-question img{
	margin: 20px 0;
	max-height: 40vh;
}
.stage-answer{
	display: flex;
	flex-direction: row;
	width:100%;
	justify-content: space-around;
}

.stage-answer > div > div.row{
	width:100%;
	padding: 10px 20px;
}

.letter{
	height: 50px;
	min-width: 20px;
	max-width: 40px;
	font-size: 36px;
	text-align: center;
	color: #7d7d7d;
	border:.5px solid #7d7d7d;
	border-radius: 5px;
	text-transform: uppercase;
}
.whitespace{
	border: none!important;
}
#stage button{
	background: #f9be2f;
	box-shadow: 1px 1px 7px gray;
	color: #1d1d1b;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 5px;
}

/* MONITORING */
#stages{
	position: relative;
	height: 80vh;
	overflow-y: scroll;
}
.stage{
	border-bottom: 1px solid #7d7d7d;
	display: flex;
	flex-direction: row;
	padding-right: 40%;
}
.stage:nth-child(odd){
	background-color: #fafafa;
}
.stage:nth-child(even){
	background-color: #cccccc;
}
#player-start, #player-end{
	width:50%;
	height: 50px;
	border:2px solid #5d5d5d;
	border-radius: 10px;
	margin-left:50%;
	background: #ccc;
}
.player{
	width: 50px;
	height: 50px;
	border-radius: 360px;
	border: 3px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 34px;
	font-weight: bold;
	position: absolute;
	top:0;
	right:0;

	background-color: #f0b581;
	border-color:#7a5c42;
	color: #7a5c42;
}