@font-face {
	font-family: "asap";
	src: url("../fonts/Asap.ttf");
}

@font-face {
	font-family: "indie";
	src: url("../fonts/IndieFlower.ttf");
}

#mapid{
	z-index: 20!important;
	position: absolute;
	width:100vw;
	height: 100vh;
}
.exit-btn{
	position: fixed;
	z-index: 200;
	top: 20px;
	right: 20px;
	font-size: 14px;
	background-color: #e94936;
	color:white;
	font-weight: bold;
	text-decoration: none;
	padding: 1vh 2vw; 
	border-radius: 5px;
	box-shadow: 1px 1px 7px #757575;
	font-family: asap;
}
.exit-btn:hover , #stage button:hover{
	cursor: pointer;
	box-shadow: 1px 1px 20px #757575;
}
#stage{
	display: none;
	margin: 0 auto;
	height: 90%;
	width: 100%;
	background-color: white;
	position: fixed;
	bottom:0;
	z-index: 50!important;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 50px 50px 0 0;
	color:#7d7d7d !important;
	box-shadow: 1px 1px 50px gray;
	font-family: asap;
}
.line{
	position: absolute;
	top: 20px;
	width:150px;
	height: 5px;
	margin: 0 auto;
	background-color: #cccccc;
	border-radius: 1000px;
}
.stage-question{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}
.stage-question h1{
	padding: 0 50px;
	text-align: center;
	font-size: 56px;
}
.stage-question img{
	margin: 20px 0;
	max-height: 40vh;
}

/* stage quiz */

.quiz-option{
	width:90%;
	font-size: 64px;
	padding: 15px 30px;
	border: #dedede solid 5px;
	margin: 10px auto;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.quiz-circle{
	width: 5vw;
	height: 5vw;
	border: 5px solid #cecece;
	border-radius: 100%;
	margin-right: 20px;
}
.quiz-circle-selected{
	background-color: #3495eb;
}

.quiz-option input[type="radio"]{
	display: none;
}
.quiz-option-selected{
	border-color: #3495eb;
}

/* stage - text */
.stage-answer{
	display: flex;
	flex-direction: row;
	width:100%;
	justify-content: space-around;
}

.stage-answer > div > div.row{
	width:100%;
	padding: 10px 20px;
}

.letter{
	height: 75px;
	min-width: 50px;
	max-width: 100px;
	font-size: 54px;
	text-align: center;
	color: #7d7d7d;
	border:.5px solid #7d7d7d;
	border-radius: 5px;
	text-transform: uppercase;
	margin: 0 5px;
}
.whitespace{
	border: none!important;
	break-after: all;
}
#stage button{
	background: #f9be2f;
	box-shadow: 1px 1px 7px gray;
	color: #1d1d1b;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	font-size: 36px;
	padding: 1vh 3.5vw; 
	border-radius: 5px;
}

/* MONITORING */
#stages{
	position: relative;
}
.stage{
	border-bottom: 1px solid #7d7d7d;
	display: flex;
	flex-direction: row;
	padding-right: 40%;
}
.stage:nth-child(odd){
	background-color: #fafafa;
}
.stage:nth-child(even){
	background-color: #cccccc;
}
#player-start, #player-end{
	width:50%;
	height: 50px;
	border:2px solid #5d5d5d;
	border-radius: 10px;
	margin-left:50%;
	background: #ccc;
}
.player{
	width: 50px;
	height: 50px;
	border-radius: 360px;
	border: 3px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top:0;
	right:0;
	box-shadow: 1px 1px 20px gray;

	background-color: #f0b581;
	border-color:#7a5c42;
	color: #7a5c42;
}

.player:nth-of-type(1){
	background-color: lightgreen;
	border-color: darkgreen;
	color: darkgreen;
}
.player:nth-of-type(2){
	background-color: lightcyan;
	border-color: darkblue;
	color: darkblue;
}