@font-face {
	font-family: "asap";
	src: url("../fonts/Asap.ttf");
}

@font-face {
	font-family: "indie";
	src: url("../fonts/IndieFlower.ttf");
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body{
	font-family: 16px;
}
*{
	overflow-x: hidden!important;
}

/* AVATAR EN PERFIL */

input#image {
	display: none;
}

#avatar img, #avatar {
	border-radius: 360px;
}

#avatar:hover {
	box-shadow: 1px 1px 7px gray;
	cursor: pointer;
}

.loading>*:not(#loader-content) {
	position: absolute;
	z-index: -5;
}

td, th {
	padding: .5em 2em;
	border: .5px solid #7d7d7d;
}

/* LOADER */

#loader-content {
	width: 100vw;
	height: 100vh;
	padding-bottom: 5vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

#loader {
	width: 10vw;
	height: 10vw;
	animation-name: spin;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: center center;
}

/* LANDING PAGE */

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	overflow-x: hidden;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
}

#menuToggle {
	display: none;
}

nav ul {
	display: flex;
	flex-direction: row;
}

nav li {
	list-style-type: none;
}

nav li a, nav li button {
	border: none;
	text-decoration: none;
	color: #7d7d7d;
	font-size: 1em;
	font-family: asap;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 1);
	padding: .5em 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 1px 1px 7px #cccccc;
	border-radius: 0 0 10px 10px;
}

nav li:first-of-type * {
	background-color: #f9be2f!important;
}

nav li *:hover {
	color: #3b3b3b;
}

/* HEADER */

header {
	height: 100vh;
	background-image: url('/assets/img/donosti-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

header #header-texto {
	width: 40%;
	text-align: right;
	position: absolute;
	right: 0;
	padding: 0 1% 0 3%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	text-shadow: 1px 1px 5px rgba(82, 117, 117, 1);
	z-index: 1;
}
header #header-texto, header #header-texto *{
	overflow-y: hidden;
}

header #header-texto:after {
	content: '';
	position: absolute;
	width: 130%;
	height: 100%;
	background-color: rgba(33, 37, 41, .7); /*rgba(122, 173, 172, .8);*/
	top: 0;
	right: -30%;
	transform: skewX(-10deg);
	z-index: -1;
}

header #header-texto h3 {
	font-size: 1.7em;
	text-shadow: 1px 1px 5px rgba(82, 117, 117, 1);
	color: white;
}

#arrow_down {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 5vh;
	right: 5vh;
	background-color: #dedede;
	border-radius: 100%;
	box-shadow: 1px 1px 7px black;
	padding: .5em;
	z-index: 30;
	transition: transform .8s ease;
}

#arrow_down img {
	width: 100%;
	height: 100%;
}

.placemarks {
	width: 40px;
	height: 40px;
	position: absolute;
	display: none;
}

#pm0 {
	position: fixed;
	width: 80px;
	height: 80px;
	right: calc(50vw - 20px);
	top: calc(50vh - 40px);
}

#pm1 {
	right: 20vw;
	top: 60vh;
}

#pm2 {
	left: 26vw;
	bottom: 10vh;
}

#pm3 {
	left: 10vw;
	top: 25vh;
}

/* LOGOTIPO DEL HEADER */

#logo {
	position: absolute;
	width: 40%;
	height: 90vh;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#logo img {
	transition: transform .8s ease;
	z-index: 15;
	cursor: pointer!important;
}

#logo img.scaledsvg {
	transform: scale(.9);
	margin-top: 0;
	position: relative;
	margin-top: 2%;
}

#logo img.notscaledsvg {
	transform: scale(0.2);
	transform-origin: top;
	position: fixed;
	top: 2%;
}

#mobile {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	z-index: 2;
	transition: transform 1.5s ease;
	user-select: none;
}

#mobile img {
	height: 80%;
}

.mobile-right {
	transform: scale(1.7) translate(20px);
}

/* SECCIÓN 1 */

section#s1 {
	height: 100vh;
	background-image: url('/assets/img/banner.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-right: 5vw;
	flex-direction: column;
}

section#s1 h1 {
	width: 35vw;
	color: rgba(33, 37, 41, 1);
	text-align: right;
	text-shadow: 1px 1px 7px rgba(33, 37, 41, 1);
	display: none;
	z-index: 5;
}

section#s1 #contacto-link {
	background-color: #363636;
	color: #dedede;
	border-radius: 360px;
	box-shadow: 1px 1px 7px black;
	text-decoration: none;
	font-family: asap;
	font-weight: bold;
	font-size: 1.2em;
	padding: .5em 1em;
	margin-top: 1em;
	cursor: pointer;
	z-index: 5;
	display: none;
}

section#s1 #contacto-link:hover {
	background-color: #151515;
	color: white;
}

/* SECCIÓN 2 */

section#s2 {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 40% 40%;
	grid-column-gap: 20%;
}

section#s2>div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section#s2>div h2 {
	font-family: asap;
	font-size: 2em;
	margin-bottom: 1em;
	color: rgba(33, 37, 41, 1);
	text-align: center;
}

section#s2 img {
	width: 50%;
}

/* SECCIÓN 3 */

section#s3 .card-deck {
	background-color: white;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

section#s3 .card {
	border: none;
}

section#s3 .cardImg {
	width: 10vw;
	min-width: 100px;
}

/* SECCIÓN CONTACTO */

section#contacto {
	background-color: #383838;
	position: relative;
	z-index: 2;
	padding: 5vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section#contacto h2 {
	color: #dedede;
	padding: 1.5em 0;
}

section#contacto form {
	display: flex;
	flex-direction: row;
	align-items: center;
}

section#contacto #inputs {
	display: flex;
	flex-direction: column;
}

section#contacto #inputs>* {
	margin: 1em 0;
}

section#contacto #inputs>input, section#contacto #inputs textarea {
	border-radius: 2px;
	background-color: white;
	border: 0;
	padding: .5em 1em;
	resize: none;
	font-family: asap;
}

section#contacto>form>button {
	margin: 0 auto;
	background-color: #9effda;
	width: 5em;
	height: 5em;
	border-radius: 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5em;
	cursor: pointer;
}

section#contacto>form>button:hover {
	background-color: #8adebe;
}

.error {
	color: tomato;
	font-family: asap;
	margin-top: 0!important;
	margin-bottom: .5em!important;
}

/* FOOTER */

footer {
	position: relative;
	background-color: #4a4a4a;
	z-index: 5;
	color: #dedede;
	font-family: asap;
	text-align: center;
	padding: 2em 0;
}

footer>div {
	margin-top: 1.5em;
}

footer img {
	width: 2.5em;
	height: 2.5em;
	margin: 0 .5em;
	cursor: pointer;
}

footer img:hover {
	transform: scale(1.05);
}

#content-container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.campo {
	font-size: 18px;
	margin: 10% 0;
	font-weight: lighter;
}

.campo h5 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin: 0;
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 360px;
	box-shadow: 1px 1px 7px black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
}

.avatar>img {
	width: 100%;
	height: 100%;
}

@media(max-width: 1100px) {
	header {
		display: flex;
		flex-direction: column;
		height: 200vh;
	}
	#mobile {
		position: relative;
	}
	#logo img.scaledsvg, #logo img.scaledsvg {
		transform: scale(.3);
		transform-origin: top;
		position: fixed;
		top: 2%;
	}
	header #header-texto {
		width: 100%;
		position: relative;
		padding: 0 3%;
		height: 100vh;
		z-index: 1;
	}
	header #header-texto:after {
		background-color: rgba(33, 37, 41, .7)
		transform: skewX(0) skewY(5deg);
		height: 130%;
		top: -30%;
		width: 150%;
		right: -25%;
		padding: 0 25%;
	}
	header #header-texto h3 {
		font-size: 1.7em;
	}
	section#s2 {
		grid-template-columns: 50% 50%;
		grid-column-gap: 0;
		z-index: -20;
		background-color: white;
		position: relative;
	}
	#mobile {
		z-index: 25;
	}
	section#contacto, footer {
		z-index: 26;
	}
	nav {
		z-index: 500;
	}
	header, #logo {
		z-index: 499;
	}
}

@media(max-width: 900px) {
	section#s2 {
		z-index: 26;
	}
	.mobile-right {
		transform: scale(4) translate(40px);
	}

}

@media(max-width: 600px) {
	#logo {
		width: 100vw;
		z-index: 25;
	}
	#logo svg.scaledsvg {
		transform: scale(.9);
	}
	#logo svg.notscaledsvg {
		transform: scale(.7);
	}
	#menuToggle {
		display: block;
		position: fixed;
		left: 88vw;
		top: 5vh;
		z-index: 3000!important;
		cursor: pointer;
	}
	nav ul {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(255, 255, 255, .9);
		z-index: 100;
		flex-direction: column;
		padding-top: 20vh;
	}
	nav li {
		border: .5px solid #dedede;
	}
	nav li a, nav li button {
		background-color: white;
		width: 100vw;
		border-radius: 0;
		padding: 2em 0;
	}
	section#s1 h1 {
		font-size: 2em;
		text-align: center;
		width: 100%;
		z-index: 5;
	}
	section#s1 #contacto-link {
		text-align: center;
		font-size: 1em!important;
		margin: 1em auto;
	}
	section#s2 {
		grid-template-columns: 100%;
		padding: 10vh 0;
		grid-row-gap: 10vh;
		z-index: 50;
	}
	section#contacto, footer {
		z-index: 50;
	}
	section#contacto h2 {
		text-align: center;
	}
	section#contacto form {
		flex-direction: column;
	}
}

/*Email menus*/

.bg-townout {
	background: white!important;
	color:#587b7f!important;
	font-weight: bold;
}

.btn-primary {
	background-color: rgb(122, 173, 172);
	border: rgb(122, 173, 172);
}

.btn-primary:hover {
	background-color: rgb(122, 173, 172);
	border: rgb(122, 173, 172);
	opacity: 0.7;
}

.modal-header {
	background: white!important;
	color:#587b7f!important;
	font-weight: bold!important;
}

.modal-title {
	color:#587b7f!important;
}

